<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flatdraw</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='flatdraw_logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/spinners.css') }}">
    {% block stylesheets %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="save-screen">
        <span class="loader"></span>
        <div class="text">SAVING MAP</div>
    </div>
    <header>
        <div class="title">Flatdraw</div>
        <nav>
            {% if not hide_nav %}
                <a class="button subtle icon tooltip" href="{{ url_for('index') }}" style="--tooltip-text: 'Exit Map Editor'; --tooltip-width: 9.5rem;">{{ icons.arrow_left }}</a>
            {% endif %}
        </nav>
        <div id="actions">
            {% block actions %}{% endblock %}
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>