{% extends "base.html" %}

{% block content %}
    <div class="page">
        <aside>
            {% for track_cluster in track_types %}
                <div class="palette">
                    {% for track in track_cluster %}
                        <div class="track">
                            <input type="hidden" value="{{ track }}">
                            <div class="t-{{ track }} t-sprite"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </aside>
        <main>
            <div class="shadow"></div>
            <div class="map">
            <input type="hidden" name="x" value="{{ width }}">
            <input type="hidden" name="y" value="{{ height }}">
                {% for y in range(height) %}
                    {% for x in range(width) %}
                        {% with node_id = x + y * width %}
                        	{% if node_id in nodes %}
                                <input type="hidden" class="loaded" name="{{ node_id }}" value="{{ nodes[node_id] }}">
                                <div class="node-wrapper t-sprite t-{{ nodes[node_id] }}"></div>
                            {% else %}
                                <div class="node-wrapper"></div>
                            {% endif %}
                        {% endwith %}

                    {% endfor %}
                {% endfor %}
            </div>
        </main>
    </div>
    <script type="module" src="{{ url_for("static", filename="scripts/main.js") }}"></script>
{% endblock %}

{% block actions %}
    <button id="save-button" class="button">Save</button>
{% endblock %}