{% extends "base.html" %}

{% block content %}
    <div class="page">
        <aside>
            {% for track_cluster in track_types %}
                <div class="palette">
                    {% for track in track_cluster %}
                        <div class="track">
                            <input type="hidden" value="{{ track }}">
                            <div class="t-{{ track }} t-sprite"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </aside>
        <main>
            <div class="shadow"></div>
            <div class="map">
            <input type="hidden" name="x" value="{{ width }}">
            <input type="hidden" name="y" value="{{ height }}">
                {% for _ in range(width * height) %}
                    <div class="node-wrapper">
                        <button class="node"></button>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <script type="module" src="{{ url_for("static", filename="scripts/main.js") }}"></script>
{% endblock %}