{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/page/index.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="flex-vertical">
            <form class="dialog" id="file-form" action="{{ url_for("editor") }}" method="POST" enctype=multipart/form-data>
                <button type="button" class="button" onclick="document.getElementById('file').click();">Open File</button>
                <input type="file" id="file" name="file" dirname="." accept=".png,.lp">
            </form>
            <form class="dialog" action="{{ url_for("editor") }}" method="POST">
                <div class="split">
                    <input id="width" name="new_width" type="number" min="0" max="200" placeholder="width" required>
                    <input id="height" name="new_height" type="number" min="0" max="200" placeholder="height" required>
                </div>
                <button class="button" type="submit" name="new">New</button>
            </form>
            <div class="grad"></div>
            <div class="grad-small"></div>
        </div>
    </main>
    <script>
        document.getElementById("file").addEventListener("change", event => {
            event.preventDefault();
            console.log("TEST")
            document.getElementById("file-form").submit();
        });
    </script>
{% endblock %}