{% extends "base.html" %}

{% block content %}
    <main>
        <div class="flex-vertical">
            <form class="dialog" id="file-form" action="{{ url_for("editor") }}" method="POST" enctype=multipart/form-data>
                <input type="file" id="file" name="file" dirname="." accept=".png,.lp">
            </form>
            <form class="dialog">
                <button type="submit" name="new">New</button>
            </form>
        </div>
    </main>
    <script>
        document.getElementById("file").onchange = function() {
            document.getElementById("file-form").submit();
        };
    </script>
{% endblock %}