html{
    --background: #121212;
    --surface: #242424;
    --border-surface: #363636;
    --primary: #1976D2;
}

body {
    color: #222;
    background: #fff;
    font: 100% "JetBrains Mono";
    padding: 0;
    margin: 0;
}

#save-screen{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 50rem rgba(0,0,0,0.5);
    background: color-mix(in srgb, color-mix(in srgb, var(--primary) 15%, var(--background)) 70%, transparent);
    backdrop-filter: saturate(0) blur(20px);
    z-index: 5;
    transition: 200ms;
    opacity: 0;
}

.saving #save-screen{
    opacity: 1;
}

#save-screen .text{
    font-weight: bolder;
    font-size: 1.3rem;
    animation: text-saving 0.8s infinite linear alternate-reverse;
}

@keyframes text-saving {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.4;
    }
}


header{
    border-bottom: solid 1px rgba(255,255,255,0.2);
    display: grid;
    grid-template-columns: 15rem 1fr auto;
    height: 4rem;
}
header .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Silkscreen;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a{
    background: rgba(255,255,255,0.15);
    border: solid 3px rgba(255,255,255,0.2);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color, border-color;
    transition-duration: 200ms;
}
header nav a:hover{
    background: color-mix(in srgb, var(--primary) 90%, var(--background));
    border-color: rgba(255,255,255,0.25);
}
header nav a svg{
    fill: rgba(255,255,255,0.5);
    transition-property: fill;
    transition-duration: 200ms;
}
header nav a:hover svg {
    fill: rgba(255,255,255,0.9);
}


header #actions{
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

header #actions form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.page{
    display: grid;
    grid-template-columns: auto 1fr;
}
main{
    position: relative;
    width: 100%;
    height: calc(100vh - (4 * 1rem + 1px));
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main .shadow{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    z-index: 2;
}
aside{
    min-width: 15rem;
    border-right: solid 1px rgba(255,255,255,0.2);
}

.palette{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 0.5rem;
    border-bottom: solid 1px rgba(255,255,255,0.2);
}

.palette:last-child{
    border-bottom: none;
}

.palette .track {
    position: relative;
    background: rgba(255,255,255,0.05);
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    padding: 1rem;
    aspect-ratio: 1;
    border: solid 3px rgba(255,255,255,0.2);
    border-radius: 0.5rem;
}

.palette .track > div{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100% 100%;
}



.palette .track.selected {
    background: #09c4;
    border-color: #09c;
}

button.button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--primary);
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    border: solid 3px rgba(255,255,255,0.25);
    border-radius: 0.5rem;
    transition-property: background-color;
    transition-duration: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.button:hover,
button.button:active{
    background: color-mix(in srgb, var(--primary) 90%, var(--background));
}

input[type=text],
input[type=number]{
    -moz-appearance: textfield;
    background: rgba(255,255,255,0.1);
    border: solid 3px rgba(255,255,255,0.2);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-weight: normal;
}

input[type=text]:focus,
input[type=number]:focus{
    border-color: var(--primary);
}

label.checkbox{
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    border: solid 3px rgba(255,255,255,0.1);
    border-radius: 0.5rem;
    transition-property: border-color, background-color;
    transition-duration: 200ms;
}
label.checkbox:hover{
    border-color: rgba(255,255,255,0.3);
}
input[type=checkbox]:checked + label.checkbox{
    border-color: var(--primary);
    background: color-mix(in srgb, var(--primary) 20%, transparent);
}


*:focus {
    outline:solid 2px rgba(255,255,255,0.8);
}
input[type=checkbox]{
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.shortcut{
    margin: -0.25rem 0 -0.25rem 0.7rem ;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    padding: 0.2rem;
    border: solid 1px rgba(255,255,255,0.3);
    border-radius: 0.4rem;
}
.shortcut .key{
    font-family: "JetBrains Mono", monospace;
    display: block;
    font-size: 0.85rem;
    font-weight: normal;
    background: color-mix(in srgb, var(--primary) 70%, var(--background));
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }
  .t-sprite{
      filter: invert(38%) sepia(98%) saturate(2054%) hue-rotate(168deg) brightness(96%) contrast(103%);
  }
}