.map{
    --grid-enabled: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222222;
    border: solid 1px rgba(255,255,255,0.2);
    display: grid;
}
.map > div{
    border: solid calc(1px * round(down, var(--grid-enabled))) rgba(255,255,255,0.05);
    min-width: 0;
    min-height: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.map > div:hover{
    border-color: #AAA;
}

.t-0,
button.t-0{
    background: transparent;
}

.t-32800,
button.t-32800 {
    background-image: url("../sprites/32800.svg");
}

.t-1025,
button.t-1025 {
    background-image: url("../sprites/1025.svg");
}

.t-4608,
button.t-4608 {
    background-image: url("../sprites/4608.svg");
}

.t-16386,
button.t-16386 {
    background-image: url("../sprites/16386.svg");
}

.t-72,
button.t-72 {
    background-image: url("../sprites/72.svg");
}

.t-2064,
button.t-2064 {
    background-image: url("../sprites/2064.svg");
}


/* --- */

.t-37408,
button.t-37408 {
    background-image: url("../sprites/37408.svg");
}

.t-17411,
button.t-17411 {
    background-image: url("../sprites/17411.svg");
}

.t-32872,
button.t-32872 {
    background-image: url("../sprites/32872.svg");
}

.t-3089,
button.t-3089 {
    background-image: url("../sprites/3089.svg");
}

.t-49186,
button.t-49186 {
    background-image: url("../sprites/49186.svg");
}

.t-1097,
button.t-1097 {
    background-image: url("../sprites/1097.svg");
}

.t-34864,
button.t-34864 {
    background-image: url("../sprites/34864.svg");
}

.t-5633,
button.t-5633 {
    background-image: url("../sprites/5633.svg");
}

/* --- */

.t-20994,
button.t-20994 {
    background-image: url("../sprites/20994.svg");
}

.t-16458,
button.t-16458 {
    background-image: url("../sprites/16458.svg");
}

.t-2136,
button.t-2136 {
    background-image: url("../sprites/2136.svg");
}

.t-6672,
button.t-6672 {
    background-image: url("../sprites/6672.svg");
}

/* --- */

.t-33825,
button.t-33825 {
    background-image: url("../sprites/33825.svg");
}

.t-38433,
button.t-38433 {
    background-image: url("../sprites/38433.svg");
}

.t-50211,
button.t-50211 {
    background-image: url("../sprites/50211.svg");
}

.t-33897,
button.t-33897 {
    background-image: url("../sprites/33897.svg");
}

.t-35889,
button.t-35889 {
    background-image: url("../sprites/35889.svg");
}

.t-38505,
button.t-38505 {
    background-image: url("../sprites/38505.svg");
}

.t-52275,
button.t-52275 {
    background-image: url("../sprites/52275.svg");
}